{% extends "layout.twig" %}

{% block content %}

	
	<section class="our-story">
    <div class="row">
			<div class="small-12 columns">
				{{widget('pagetitle', 'title', {})|raw}}
			</div>
		</div>
		<div class="row collapse">
			<div class="small-12 columns">
			    {{zone('main')|raw}}
			</div>
		</div>	
		<div class="row">
			<div class="small-12 columns text-center">
				<a href="http://weddingchamber.vegas/" target="_new" rel="nofollow">
					<img src="{{asset('images/web-banner-359-x-90.png')}}" alt="Destination Vegas!  Your day, your way.  Wedding Chamber in Las Vegas." />
				</a>
			</div>
		</div>
	</section>

{% endblock %}
